body{
  margin: 0;
  background-color: #232D38;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 20px
}

.main {
  height: 100vh;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
