.modal-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
  background-color: black;
  z-index: 1;
}

.modal-container{
  background-color: #232D38;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -280px;
  margin-top: -250px;
  width: 560px;
  max-height: 600px;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
}

.modal-body{
  padding: 15px 15px 0 15px;
}

.modal-footer {
  padding: 15px;
}

.modal-header{
  border-bottom: 1px solid white;
  padding: 9px 15px;
  overflow: auto;
  height: 30px;
  line-height: 30px;
}

.modal-header>h3 {
  font-size: 24px;
  width: 90%;
  text-align: left;
  float: left;
  margin: 0 auto;
}

button.close {
  display: inline-block;
  background: transparent;
  color: #8F9194;
  border: 0;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  float: right;
  cursor: pointer;
  text-shadow: 0 1px 0 #ffffff;
}

.close:hover {
  background: transparent;
  color: white;
}
