.modal-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
  background-color: black;
  z-index: 1;
}

.modal-container{
  background-color: #232D38;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -280px;
  margin-top: -250px;
  width: 560px;
  max-height: 600px;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
}

.modal-body{
  padding: 15px 15px 0 15px;
}

.modal-footer {
  padding: 15px;
}

.modal-header{
  border-bottom: 1px solid white;
  padding: 9px 15px;
  overflow: auto;
  height: 30px;
  line-height: 30px;
}

.modal-header>h3 {
  font-size: 24px;
  width: 90%;
  text-align: left;
  float: left;
  margin: 0 auto;
}

.modal-header>button {
  display: inline-block;
  background: transparent;
  color: #8F9194;
  border: 0;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 0px;
  float: right;
  cursor: pointer;
  text-shadow: 0 1px 0 #ffffff;
}

.modal-header>button:hover {
  color: white;
}

.input-container{
  margin-top: 15px;
  padding: 10px;
  overflow: auto;
  width: 60%;
  margin: 0 auto;
}

.input-container>label{
  height: 20px;
  padding: 5px;
  float: left;
  color: #EEE;
  font-weight: 200;
  font-size: 14px;

}

.input-container>select, .input-container>input, .input-container>span{
  float: right;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
}

.input-container>select {
  height: 30px;
  width: 40%;
}

.input-container>input{
  text-align: right;
  height: 20px;
  padding: 4px;
}
.input-container>span{
  height: 20px;
  padding: 4px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.modal-button{
  margin-top:10px;
  width: 120px;
  padding: 2px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  background: linear-gradient(to bottom, #2A3142, #171B25);
  font-size: 18px;
  font-weight: bold;
}

.modal-button:hover{
  background: #D67B1F
}

.modal-description{
  color: #EEE;
  margin-top: 10px;
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  letter-spacing: .75px
}

#mpa{
  border-radius: 5px 0 0 5px;
}

#mpa-addon, #mpa-calculated{
  margin-left: -3px;
  background: #EEE;
  color: black;
  border-radius: 0px;
}

#mpa-calculated{
  background: white;
  border-radius: 0 5px 5px 0;
}

#max-equities{
  width: 10%;
}

.summary{
  margin: 0 auto;
}

.spec {
  text-align: left;
}

.value {
  text-align: right;
}

#summary-title {
  margin-bottom: 15px;
}

td {
  height: 16px;
  padding: 2px;
  font-size: 14px;
  font-weight: 200;
}


.question-bar{
  display: inline-block;
  width: 100px;
  height: 6px;
  border: 1px solid white;
}

.question-container, #question-page{
  margin: 0;
}

.question-container {
  margin-bottom: 10px;
}

.error-message{
  border: 1px solid #E48627;
  background-color: #FFDEC0;
  color: #E48627;
  font-size: 12px;
  border-radius: 4px;
  height: 20px;
  line-height: 20px;
  margin: 20px auto;
  padding: 8px 0;
}
